 .box {
     border: 3px solid magenta;
     width: 300px;
     padding: 10px;
     border-radius: 10px;
     margin: auto;
     position: relative;
     top: 100px;
     background-color: bisque;
     box-shadow: 5px 8px 7px black;
 }

.box label{ /* dicendant property*/
        font-size: 25px;
}
.box input{
    display: block;
    width: 95%;
    height: 20px;
    /* color: red; */
    font-size: 20px;
    box-shadow: 4px 4px 4px black;
    margin-bottom: 5px;
    border-radius: 5px;
}
.box button{
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid grey;
    background-color: darkgrey;
    font-weight: 700;
}